In [ ]:
!python -m pip install pandas

In [13]:
#import Pandas
import pandas as pd
#create empty DataFrame
#DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [16]:
#converting list to DataFrame
data = [1,2,3,4,5]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [17]:
row,column = df.shape
print("Number of rows:", row)
print("Number of columns:", column)

Number of rows: 5
Number of columns: 1

In [19]:
#set column names
df.columns = ['Numbers']
df

   Numbers
0        1
1        2
2        3
3        4
4        5

In [20]:
#or can be done while creating DataFrame
df = pd.DataFrame(data, columns=['Numbers'])
df

   Numbers
0        1
1        2
2        3
3        4
4        5

In [21]:
#names of index means naming the rows
df.index = ['a', 'b', 'c', 'd', 'e']
df

   Numbers
a        1
b        2
c        3
d        4
e        5

In [22]:
#or can be done while creating DataFrame
df = pd.DataFrame(data, columns=['Numbers'], index=['a', 'b', 'c', 'd', 'e'])
df

   Numbers
a        1
b        2
c        3
d        4
e        5

In [23]:
#to create DataFrame with  2 lists
city=['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Bangalore']
population=[19.8, 20.4, 7.1, 4.5, 8.4]
data = list(zip(city, population))# zip function combines two lists into a list of tuples
print(data)
df = pd.DataFrame(data, columns=['City', 'Population'])
df

[('Delhi', 19.8), ('Mumbai', 20.4), ('Chennai', 7.1), ('Kolkata', 4.5), ('Bangalore', 8.4)]

        City  Population
0      Delhi        19.8
1     Mumbai        20.4
2    Chennai         7.1
3    Kolkata         4.5
4  Bangalore         8.4

In [24]:
city=[['Sylhet','Bangladesh'],['Asam','India'],['Kathmandu','Nepal'],['Thimphu','Bhutan']]
df = pd.DataFrame(city, columns=['City', 'Country'])
df

        City     Country
0     Sylhet  Bangladesh
1       Asam       India
2  Kathmandu       Nepal
3    Thimphu      Bhutan

In [26]:
#import CSV file into DataFrame
df = pd.read_csv('Screentime-App-Details-Dataset.csv')
df

          Date  Usage  Notifications  Times opened        App
0   08/26/2022     38             70            49  Instagram
1   08/27/2022     39             43            48  Instagram
2   08/28/2022     64            231            55  Instagram
3   08/29/2022     14             35            23  Instagram
4   08/30/2022      3             19             5  Instagram
5   08/31/2022     19             25            20  Instagram
6   09/01/2022     44             23            57  Instagram
7   09/02/2022     16             28            22  Instagram
8   09/03/2022     27             15            25  Instagram
9   09/04/2022     72             29            30  Instagram
10  09/05/2022     42             24            51  Instagram
11  09/06/2022     19             34            25  Instagram
12  09/07/2022     38             23            19  Instagram
13  09/08/2022     71             48            43  Instagram
14  09/09/2022     43             68            70  Instagram
15  09/10/2022     45             71            70  Instagram
16  09/11/2022     94            180            95  Instagram
17  09/12/2022    114             99           102  Instagram
18  09/13/2022     17             45            39  Instagram
19  09/14/2022      1             10             2  Instagram
20  09/15/2022      2             15             4  Instagram
21  09/16/2022      3             13             5  Instagram
22  09/17/2022      2              9             3  Instagram
23  09/18/2022      3              8             5  Instagram
24  09/19/2022      4              8             3  Instagram
25  09/20/2022      5             11             5  Instagram
26  09/21/2022      2             12             8  Instagram
27  08/26/2022     82            209           105   Whatsapp
28  08/27/2022     69            111            68   Whatsapp
29  08/28/2022    130            183            86   Whatsapp
30  08/29/2022     59            157            74   Whatsapp
31  08/30/2022    128            246            87   Whatsapp
32  08/31/2022    108            169            77   Whatsapp
33  09/01/2022     23             99            47   Whatsapp
34  09/02/2022     76            144           103   Whatsapp
35  09/03/2022      1             80            16   Whatsapp
36  09/04/2022      6             38            33   Whatsapp
37  09/05/2022    126            218           121   Whatsapp
38  09/06/2022     91            205           110   Whatsapp
39  09/07/2022    160            212            83   Whatsapp
40  09/08/2022     69            217            82   Whatsapp
41  09/09/2022    119            405           192   Whatsapp
42  09/10/2022    103            166            79   Whatsapp
43  09/11/2022    203            173            92   Whatsapp
44  09/12/2022    182            290           172   Whatsapp
45  09/13/2022     71            153            91   Whatsapp
46  09/14/2022     64            192            67   Whatsapp
47  09/15/2022     50            181            58   Whatsapp
48  09/16/2022     71            176            91   Whatsapp
49  09/17/2022    212            212           120   Whatsapp
50  09/18/2022    244            303           132   Whatsapp
51  09/19/2022     77            169           105   Whatsapp
52  09/20/2022     58            190            78   Whatsapp
53  09/21/2022     89            262            68   Whatsapp

In [27]:
type(df)

pandas.core.frame.DataFrame

In [30]:
row,column = df.shape
print("Number of rows:", row)
print("Number of columns:", column)
df.info()

Number of rows: 54
Number of columns: 5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           54 non-null     object
 1   Usage          54 non-null     int64
 2   Notifications  54 non-null     int64
 3   Times opened   54 non-null     int64
 4   App            54 non-null     object
dtypes: int64(3), object(2)
memory usage: 2.2+ KB

In [32]:
#to shows first 5 rows
df.head()

         Date  Usage  Notifications  Times opened        App
0  08/26/2022     38             70            49  Instagram
1  08/27/2022     39             43            48  Instagram
2  08/28/2022     64            231            55  Instagram
3  08/29/2022     14             35            23  Instagram
4  08/30/2022      3             19             5  Instagram

In [33]:
#to shows last 5 rows
df.tail()

          Date  Usage  Notifications  Times opened       App
49  09/17/2022    212            212           120  Whatsapp
50  09/18/2022    244            303           132  Whatsapp
51  09/19/2022     77            169           105  Whatsapp
52  09/20/2022     58            190            78  Whatsapp
53  09/21/2022     89            262            68  Whatsapp

In [34]:
#to shows only values
df.values

array([['08/26/2022', 38, 70, 49, 'Instagram'],
       ['08/27/2022', 39, 43, 48, 'Instagram'],
       ['08/28/2022', 64, 231, 55, 'Instagram'],
       ['08/29/2022', 14, 35, 23, 'Instagram'],
       ['08/30/2022', 3, 19, 5, 'Instagram'],
       ['08/31/2022', 19, 25, 20, 'Instagram'],
       ['09/01/2022', 44, 23, 57, 'Instagram'],
       ['09/02/2022', 16, 28, 22, 'Instagram'],
       ['09/03/2022', 27, 15, 25, 'Instagram'],
       ['09/04/2022', 72, 29, 30, 'Instagram'],
       ['09/05/2022', 42, 24, 51, 'Instagram'],
       ['09/06/2022', 19, 34, 25, 'Instagram'],
       ['09/07/2022', 38, 23, 19, 'Instagram'],
       ['09/08/2022', 71, 48, 43, 'Instagram'],
       ['09/09/2022', 43, 68, 70, 'Instagram'],
       ['09/10/2022', 45, 71, 70, 'Instagram'],
       ['09/11/2022', 94, 180, 95, 'Instagram'],
       ['09/12/2022', 114, 99, 102, 'Instagram'],
       ['09/13/2022', 17, 45, 39, 'Instagram'],
       ['09/14/2022', 1, 10, 2, 'Instagram'],
       ['09/15/2022', 2, 15, 4, 'Instagram'],
       ['09/16/2022', 3, 13, 5, 'Instagram'],
       ['09/17/2022', 2, 9, 3, 'Instagram'],
       ['09/18/2022', 3, 8, 5, 'Instagram'],
       ['09/19/2022', 4, 8, 3, 'Instagram'],
       ['09/20/2022', 5, 11, 5, 'Instagram'],
       ['09/21/2022', 2, 12, 8, 'Instagram'],
       ['08/26/2022', 82, 209, 105, 'Whatsapp'],
       ['08/27/2022', 69, 111, 68, 'Whatsapp'],
       ['08/28/2022', 130, 183, 86, 'Whatsapp'],
       ['08/29/2022', 59, 157, 74, 'Whatsapp'],
       ['08/30/2022', 128, 246, 87, 'Whatsapp'],
       ['08/31/2022', 108, 169, 77, 'Whatsapp'],
       ['09/01/2022', 23, 99, 47, 'Whatsapp'],
       ['09/02/2022', 76, 144, 103, 'Whatsapp'],
       ['09/03/2022', 1, 80, 16, 'Whatsapp'],
       ['09/04/2022', 6, 38, 33, 'Whatsapp'],
       ['09/05/2022', 126, 218, 121, 'Whatsapp'],
       ['09/06/2022', 91, 205, 110, 'Whatsapp'],
       ['09/07/2022', 160, 212, 83, 'Whatsapp'],
       ['09/08/2022', 69, 217, 82, 'Whatsapp'],
       ['09/09/2022', 119, 405, 192, 'Whatsapp'],
       ['09/10/2022', 103, 166, 79, 'Whatsapp'],
       ['09/11/2022', 203, 173, 92, 'Whatsapp'],
       ['09/12/2022', 182, 290, 172, 'Whatsapp'],
       ['09/13/2022', 71, 153, 91, 'Whatsapp'],
       ['09/14/2022', 64, 192, 67, 'Whatsapp'],
       ['09/15/2022', 50, 181, 58, 'Whatsapp'],
       ['09/16/2022', 71, 176, 91, 'Whatsapp'],
       ['09/17/2022', 212, 212, 120, 'Whatsapp'],
       ['09/18/2022', 244, 303, 132, 'Whatsapp'],
       ['09/19/2022', 77, 169, 105, 'Whatsapp'],
       ['09/20/2022', 58, 190, 78, 'Whatsapp'],
       ['09/21/2022', 89, 262, 68, 'Whatsapp']], dtype=object)

In [35]:
#shows columns names
df.columns

Index(['Date', 'Usage', 'Notifications', 'Times opened', 'App'], dtype='object')

In [ ]:
#shows index labels
df.index

In [46]:
#shows a specific column
df.Date

0     08/26/2022
1     08/27/2022
2     08/28/2022
3     08/29/2022
4     08/30/2022
5     08/31/2022
6     09/01/2022
7     09/02/2022
8     09/03/2022
9     09/04/2022
10    09/05/2022
11    09/06/2022
12    09/07/2022
13    09/08/2022
14    09/09/2022
15    09/10/2022
16    09/11/2022
17    09/12/2022
18    09/13/2022
19    09/14/2022
20    09/15/2022
21    09/16/2022
22    09/17/2022
23    09/18/2022
24    09/19/2022
25    09/20/2022
26    09/21/2022
27    08/26/2022
28    08/27/2022
29    08/28/2022
30    08/29/2022
31    08/30/2022
32    08/31/2022
33    09/01/2022
34    09/02/2022
35    09/03/2022
36    09/04/2022
37    09/05/2022
38    09/06/2022
39    09/07/2022
40    09/08/2022
41    09/09/2022
42    09/10/2022
43    09/11/2022
44    09/12/2022
45    09/13/2022
46    09/14/2022
47    09/15/2022
48    09/16/2022
49    09/17/2022
50    09/18/2022
51    09/19/2022
52    09/20/2022
53    09/21/2022
Name: Date, dtype: object

In [49]:
#shows another specific column
df['App'].head()

0    Instagram
1    Instagram
2    Instagram
3    Instagram
4    Instagram
Name: App, dtype: object

In [50]:
df.Date.sort_values()

0     08/26/2022
27    08/26/2022
1     08/27/2022
28    08/27/2022
2     08/28/2022
29    08/28/2022
3     08/29/2022
30    08/29/2022
31    08/30/2022
4     08/30/2022
32    08/31/2022
5     08/31/2022
6     09/01/2022
33    09/01/2022
7     09/02/2022
34    09/02/2022
8     09/03/2022
35    09/03/2022
9     09/04/2022
36    09/04/2022
37    09/05/2022
10    09/05/2022
38    09/06/2022
11    09/06/2022
39    09/07/2022
12    09/07/2022
40    09/08/2022
13    09/08/2022
41    09/09/2022
14    09/09/2022
15    09/10/2022
42    09/10/2022
43    09/11/2022
16    09/11/2022
44    09/12/2022
17    09/12/2022
45    09/13/2022
18    09/13/2022
46    09/14/2022
19    09/14/2022
47    09/15/2022
20    09/15/2022
21    09/16/2022
48    09/16/2022
49    09/17/2022
22    09/17/2022
50    09/18/2022
23    09/18/2022
51    09/19/2022
24    09/19/2022
52    09/20/2022
25    09/20/2022
26    09/21/2022
53    09/21/2022
Name: Date, dtype: object

In [53]:
#sort full DataFrame by a specific column
df.sort_values("Date",ascending=True)

          Date  Usage  Notifications  Times opened        App
0   08/26/2022     38             70            49  Instagram
27  08/26/2022     82            209           105   Whatsapp
1   08/27/2022     39             43            48  Instagram
28  08/27/2022     69            111            68   Whatsapp
2   08/28/2022     64            231            55  Instagram
29  08/28/2022    130            183            86   Whatsapp
3   08/29/2022     14             35            23  Instagram
30  08/29/2022     59            157            74   Whatsapp
31  08/30/2022    128            246            87   Whatsapp
4   08/30/2022      3             19             5  Instagram
32  08/31/2022    108            169            77   Whatsapp
5   08/31/2022     19             25            20  Instagram
6   09/01/2022     44             23            57  Instagram
33  09/01/2022     23             99            47   Whatsapp
7   09/02/2022     16             28            22  Instagram
34  09/02/2022     76            144           103   Whatsapp
8   09/03/2022     27             15            25  Instagram
35  09/03/2022      1             80            16   Whatsapp
9   09/04/2022     72             29            30  Instagram
36  09/04/2022      6             38            33   Whatsapp
37  09/05/2022    126            218           121   Whatsapp
10  09/05/2022     42             24            51  Instagram
38  09/06/2022     91            205           110   Whatsapp
11  09/06/2022     19             34            25  Instagram
39  09/07/2022    160            212            83   Whatsapp
12  09/07/2022     38             23            19  Instagram
40  09/08/2022     69            217            82   Whatsapp
13  09/08/2022     71             48            43  Instagram
41  09/09/2022    119            405           192   Whatsapp
14  09/09/2022     43             68            70  Instagram
15  09/10/2022     45             71            70  Instagram
42  09/10/2022    103            166            79   Whatsapp
43  09/11/2022    203            173            92   Whatsapp
16  09/11/2022     94            180            95  Instagram
44  09/12/2022    182            290           172   Whatsapp
17  09/12/2022    114             99           102  Instagram
45  09/13/2022     71            153            91   Whatsapp
18  09/13/2022     17             45            39  Instagram
46  09/14/2022     64            192            67   Whatsapp
19  09/14/2022      1             10             2  Instagram
47  09/15/2022     50            181            58   Whatsapp
20  09/15/2022      2             15             4  Instagram
21  09/16/2022      3             13             5  Instagram
48  09/16/2022     71            176            91   Whatsapp
49  09/17/2022    212            212           120   Whatsapp
22  09/17/2022      2              9             3  Instagram
50  09/18/2022    244            303           132   Whatsapp
23  09/18/2022      3              8             5  Instagram
51  09/19/2022     77            169           105   Whatsapp
24  09/19/2022      4              8             3  Instagram
52  09/20/2022     58            190            78   Whatsapp
25  09/20/2022      5             11             5  Instagram
26  09/21/2022      2             12             8  Instagram
53  09/21/2022     89            262            68   Whatsapp

In [54]:
#shows statistical summary of DataFrame
df.describe()

            Usage  Notifications  Times opened
count   54.000000      54.000000     54.000000
mean    65.037037     117.703704     61.481481
std     58.317272      97.017530     43.836635
min      1.000000       8.000000      2.000000
25%     17.500000      25.750000     23.500000
50%     58.500000      99.000000     62.500000
75%     90.500000     188.250000     90.000000
max    244.000000     405.000000    192.000000

In [59]:
#show correlation between numerical columns
df.corr(numeric_only=True)

                  Usage  Notifications  Times opened
Usage          1.000000       0.774452      0.816409
Notifications  0.774452       1.000000      0.882983
Times opened   0.816409       0.882983      1.000000

In [63]:
#only numerical columns are considered for correlation
df.corr(numeric_only=True).loc["Usage", "Times opened"]

np.float64(0.8164090497726069)